@tailwind base;
@tailwind components;
@tailwind utilities;

/* In your main CSS */
#chat-helper-button {
    background-color: #000 !important;
    border-radius: 10px !important;
    margin-top: 100px !important
   }
  
  iframe[src*="omnidim.io"] {
    border-radius: 30px !important;
    z-index: 9999 !important;
  }
  